<%- include('../partials/header') %>

<section id="show-page">
  <div>Airlines: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>FlightNo: </div>
  <div><%= flight.flightNo %></div>
  <div>Departing: </div>
  <div><%= flight.departs%></div>
  <div>Departing: </div>
  <div><%= flight.departs ? 'Yes' : 'Nope' %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/destinations/<%= flight._id %>">
  <label>Destinations:</label><br>

  <label>Airline:</label>
  <select name="airline">
    <option value="Delta">Delta</option>
    <option value="United">United</option>
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
  </select> <br>
  <label>Airport:</label>
  <select name="airport">
    <option value="SFO">SFO</option>
    <option value="OAK">OAK</option>
    <option value="LAX">LAX</option>
    <option value="HNL">HNL</option>
  </select>
  <br>
  <label>FlightNo:
    <input type="Number" name="flightNo">
    </label><br>
  <label>Arrivals:
    <input type="datetime-local" name="arrival">
  </label><br>
  <input type="submit" value="Add Destinations">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>FlightNo</th>
        <th>Arrivals</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airline %></td>
          <td><%= d.airport %></td>
          <td><%= d.flightNo %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>

  
<%- include('../partials/footer') %>
